.LangSupportSection-main {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    overflow-x: hidden; 
  }
  
  .lang-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1155px;
    width: 100%;
  }
  
  .lang-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 16px;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
    transition: all 0.3s ease-in-out;
  }
  
  .lang-box:hover {
    background-color: #f4f4f4;
    transform: translateY(-3px);
  }
  
  .lang-icon {
    font-size: 28px;
  }
  
  @media (max-width: 1024px) {
    .lang-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .lang-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .lang-grid {
      grid-template-columns: 1fr;
    }
  
    .lang-box {
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }
  }


  .feature-extension {
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .feature-heading h2 {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 0.75rem;
    color: #504f4f;
  }
  .lang-img {
    width: 35px;
    height: 35px;
    object-fit: contain;
  }
  
  .feature-heading p {
    font-size: 20px;
    max-width: 780px;
    margin: 0 auto 2.5rem;
    color: #555;
  }
  
  .features-bottom {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 80px;
    flex-wrap: wrap;
  }
  
  .feature-card {
    background: white;
    padding: 2rem;
    border: 1px solid #eee;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    max-width: 300px;
    flex: 1;
    transition: transform 0.3s ease;
  }
  
  .feature-card:hover {
    transform: translateY(-5px);
  }
  
  .feature-label {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    font-size: 0.8rem;
    border-radius: 999px;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .feature-label.green {
    background-color: #d2fbe9;
    color: #007f5f;
  }
  
  .feature-label.pink {
    background-color: #ffe4f0;
    color: #d63384;
  }
  
  .feature-label.orange {
    background-color: #fff0d6;
    color: #ff922b;
  }
  
  .feature-card h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  
  .feature-card p {
    font-size: 0.95rem;
    color: #444;
  }
  